<div class="p-5 border border-5 rounded">
<div class="container w-50 text-center bg-secondary  border border-5">
    <h1>Add new product</h1>
<form (ngSubmit)="addNewProduct()" [formGroup]="addProductForm" action="">
    <input formControlName="id" id="pid" name="p1" class="form-control mt-2 p-2" placeholder="product id" type="text">
    <input formControlName="productName" id="pname" name="p2" class="form-control mt-2 p-2" placeholder="product name" type="text">
    <input  formControlName="categoryId"id="cid" name="p3" class="form-control mt-2 p-2" placeholder="category id" type="text">
    <input formControlName="description" id="did" name="p4" class="form-control mt-2 p-2" placeholder="description" type="text">
    <input formControlName="price" id="priceid" name="p5" class="form-control mt-2 p-2" placeholder="price" type="text">
    <input formControlName="is_available" id="avail" name="p6" class="form-control mt-2 p-2" placeholder="is available true/false" type="text">
    <input formControlName="productImg" id="imgid" name="p7" class="form-control mt-2 p-2" placeholder="product img" type="text">
    <input formControlName="rating" id="rateid" name="p8" class="form-control mt-2 p-2" placeholder="product rating" type="text">
    <input formControlName="review" id="reviewid" name="p9" class="form-control mt-2 p-2" placeholder="product review" type="text">
    <input formControlName="vendor_name" id="vendorid" name="p10" class="form-control mt-2 p-2" placeholder="vendor name" type="text">
    <input formControlName="warranty" id="warrantyid" name="p11" class="form-control mt-2 p-2" placeholder="warranty" type="text">
<button class="btn btn-success mt-2 p-2 mb-3">Add Product</button>
</form>
</div>
</div>